@import "variables";

footer{
  @include body_center;
  
  clear:both;
  left:315px;
  margin-bottom:2em;
  position:relative;
  width:366px;
  
  p{ float:left; }
  a{ top: 3px; margin-left:0.5em; }
}