@import "compass/reset", "compass/css3", "mixins", "variables";

*{
  position:relative;
}

h2 { font-size:1.71428571em; font-weight:900; }

em{ font-style:italic; }
strong{ font-weight:bold; }

body{
  background: transparent url(images/background.jpg) 0 0 repeat-x;
  font-family: "Meta-Pro", "ff-meta-web-pro", Helvetica, arial, sans-serif;
  font-weight:normal;
  font-size:14px;
  height:100%;
  line-height:1.8em;
  width:100%;
  
  a{
    color: $solus_green;
    font-weight:bold;
    text-decoration:none;
    
    &:hover{
      text-decoration:underline;
    }
  }
  
  p{
    font-weight:normal;
    
    a { font-weight:100; }
  }
  
  .upper { text-transform:uppercase; }
 
 aside.sidebar{
    border-left: 1px solid $medium_grey;
    float:right;
    height:500px;
    margin-right:30px;
    min-height:585px;
    padding-left:26px;
    width:240px;
  }
    
 div.content{
   @include body_center;
   @include border-bottom-radius(3px);
   @include box-shadow(#AAA 0 2px 5px);
   
   background:$light_grey;
   border-top: 3px solid #FFF;
   clear:both;
   margin-bottom:1em;
   min-height:630px;
   overflow:auto;
   padding:30px 0 30px 30px;
 }
 
 div.shadow{
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzg3ODc4NyIgc3RvcC1vcGFjaXR5PSIwLjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(135,135,135,0.1) 50%, rgba(0,0,0,0) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(50%,rgba(135,135,135,0.1)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(135,135,135,0.1) 50%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(135,135,135,0.1) 50%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(135,135,135,0.1) 50%,rgba(0,0,0,0) 100%); /* IE10+ */
  background: linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(135,135,135,0.1) 50%,rgba(0,0,0,0) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00000000',GradientType=0 ); /* IE6-8 */

   position:absolute;
   height:550px;
   width:3px;
   right:331px;
 }
}