@import "compass/reset", "mixins", "variables";

*{
  position:relative;
}
body{
  background: transparent url(images/background.jpg) 0 0 repeat-x;
  height:100%;
  width:100%;
 
 div.content{
   @include body_center;
   
   background:$light_grey;
   border-top: 2px solid #FFF;
   clear:both;
   padding:30px 0 0 30px;
 } 
}