@import "global";

header{
  @include body_center;
  
  border-bottom: 2px solid $light_grey;
  height:120px;
  padding:0 15px;
  
  h1{
    background: transparent url(images/solus_logo.jpg) 0 0 no-repeat;
    color:rgba(0,0,0,0);
    height:67px;
    float:left;
    left:15px;
    line-height:0px;
    top: 30px;
    width:200px;
  }
  
  nav{
    bottom:-75px;
    height:inherit;
    position:absolute;
    right:40px;
    
    ul{
      height:inherit;
      li{
        float:left;
        padding-left:50px;
        text-transform:uppercase;
        
        &.current a{ color:$solus_green; }
        
        a{
          color: #333;
          font-family: MetaPro, arial, sans-serif;
          text-decoration:none;
          
          &:hover, &:active{ color: $solus_green; }
        }
      }
    }
  } // End nav styles
} // End header sytles
