@import "mixins", "variables";

header{
  @include body_center;
  @include box-shadow(#AAA 0 2px 15px);
  
  .no-boxshadow & { border-left: 2px solid $medium_grey; border-right: 2px solid $medium_grey; }
  
  border-bottom: 2px solid $light_grey;
  height:120px;
  padding:0 15px;
  
  a{ outline:0px; }
  h1{
    background: transparent url(images/solus_logo.jpg) 0 0 no-repeat;
    color:rgba(0,0,0,0);
    height:67px;
    float:left;
    left:15px;
    line-height:0px;
    top: 30px;
    width:200px;
    
    .lt-ie9 & { text-indent: -999em; outline:0px; }
  }
  
  nav{
    bottom:-75px;
    height:inherit;
    position:absolute;
    right:40px;
    z-index:1;
    zoom: 1;
    
    .ie7 & { bottom: 0px; hasLayout: true; }
    
    ul{
      height:inherit;
      position:relative;
      z-index: 2;
      
      li{
        float:left;
        padding-left:50px;
        text-transform:uppercase;
        z-index: 10;
        
        &:hover ul.sub { display:block; }
        &.current > a { color:$solus_green; }
        
        ul.sub{
          @include box-shadow(grey 2px 2px 5px);
          @include border-radius(3px);
          
          background:white;
          float:left;
          padding:0 1em 1em;
          position:absolute;
          display:none;
          width:100px;
          z-index:100;
          zoom:1;
          
          .no-boxshadow & { border: 1px solid $medium-grey; }
          
          li{
            border-bottom: 1px solid $solus_green;
            float:none;
            padding: 0.5em 0;
            
            &:last-of-type{ border-bottom: 0px; padding-bottom:0; }
          }
        }
        
        a{
          color: #333;
          font-size:0.785714286em;
          text-decoration:none;
          
          &:hover, &:active{ color: $solus_green; text-decoration:none; }
        }
      }
    }
  } // End nav styles
} // End header sytles
