@import "variables";

@font-face{
  font-family:Meta-Pro;
  src: url(fonts/MetaPro-Normal.eot);
  src: url(fonts/MetaPro-Normal.otf) format(opentype),
    url(fonts/MetaPro-Normal.ttf) format(truetype),
    url(fonts/metapronormal.svg) format(svg);
  font-style:normal;
  font-weight:normal;
}

@font-face{
  font-family:Meta-Pro;
  src: url(fonts/MetaPro_NormalItalic.eot);
  src: url(fonts/MetaPro-NormalItalic.otf) format(opentype),
    url(fonts/MetaPro-NormalItalic.ttf) format(truetype),
    url(fonts/metapro-normalitalic.svg) format(svg);
  font-style:italic;
  font-weight:normal;
}

@font-face{
  font-family:Meta-Pro;
  src: url(fonts/MetaPro_Bold.eot);
  src: url(fonts/MetaPro-Bold.otf) format(opentype),
    url(fonts/MetaPro_Bold.ttf) format(truetype),
    url(fonts/metapro-bold.svg) format(svg);
  font-style:normal;
  font-weight:bold;
}

@font-face{
  font-family:Meta-Pro;
  src: url(fonts/MetaPro_Medium.eot);
  src: url(fonts/MetaPro-Medium.otf) format(opentype),
    url(fonts/MetaPro_Medium.ttf) format(truetype),
    url(fonts/metapro-medium.svg) format(svg);
  font-style:normal;
  font-weight:bolder;
}

@font-face{
  font-family:Meta-Pro;
  src: url(fonts/MetaPro_Black.eot);
  src: url(fonts/MetaPro-Black.otf) format(opentype),
    url(fonts/MetaPro_Black.ttf) format(truetype),
    url(fonts/metapro-black.svg) format(svg);
  font-style:normal;
  font-weight:900;
}

@mixin bg_gradient{
  background: rgb(255,255,255); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(255,255,255,1) 21%, rgba(186,209,150,1) 67%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(21%,rgba(255,255,255,1)), color-stop(67%,rgba(186,209,150,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 21%,rgba(186,209,150,1) 67%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(255,255,255,1) 21%,rgba(186,209,150,1) 67%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(255,255,255,1) 21%,rgba(186,209,150,1) 67%); /* IE10+ */
  background: linear-gradient(top,  rgba(255,255,255,1) 21%,rgba(186,209,150,1) 67%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#bad196',GradientType=0 ); /* IE6-9 */
}

@mixin body_center{
  margin: 0 auto;
  width: $content_width;
}