/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "global", "header", "footer";

div.content {
  zoom:1;
  z-index:0;
  
  img.hero { margin: 0 auto; }
  
  div.copy, article.copy{
    @include border-radius(3px);
    
    background: white;
    border: 1px solid $medium_grey;
    float:left;
    min-height:125px;
    line-height:1.5em;
    padding:15px;
    max-width:918px;
    
    section{
      &.contact{ float:left; }
      
      &.feature{
        border-right: 1px solid #bababa;
        float:left;
        margin-right:15px;
        padding-right:15px;
        width: 660px;
        
        h2:after{ content: ':'; }
      
        img{
            float:left;
            margin-right:15px;
        }
      
      } // End feature section styles
      
    } // End home page section styles
  }
}

.index div.content div.copy {
  margin-top:15px;
  width: 888px;
}

//*** Start unique styles for About Page ***//
.about{

  div.content {
    overflow:auto;
    
      &>h2 { font-weight:100; }
      &>p { margin-right:7em; margin-bottom:1.5em; }
      
      aside.sidebar{
        margin-left: 20px;
        width: 275px;
      }
      
      article.copy{
        margin-right:35px;
        margin-bottom:24px;
        img{ float:left; margin-right:1em; }
        
        h2, h3 { line-height:1.5em; }
        h3 { font-weight:bold; }
        
        p.bio{ color: #666; margin: 2em 0; }
      }

      div.copy{
        padding:20px;
        height:530px;
        min-height:585px;
        width:560px;
        
        h2 { line-height:2.5em; }
    }
  }// End content div styles
  
  div.gallery{
    float:left;
    position:relative;
    width:inherit;
    
    ul{
      li{
        float:left;
        margin-right:2em;
        
        a { color: #000; }
        a:hover figcaption { color: $solus_green; }
      }
    }
    
    footer.credits {
      margin-right: 38px;
      position:absolute;
      right:0px;
      text-align:right;
      top:0;
      width:25%;
    }
    
  } // End about gallery styles
} // End About page specific styles

.people{
  @extend .about;
}

//*** Start unique styles for Line Card Page ***//
.line-card{
  
  div.content{
    padding-bottom: 2em;
    
    article.details{
      h3{
        color: rgba(0,0,0,0);
        line-height:0px;
        
        .no-rgba & { line-height: 0.5em; text-indent:-9999em; overflow-x:hidden; }
        
        img.logo{
          border: 1px solid $solus_green;
          height:65px;
          margin:0px auto 2em;
          width:230px;
        }
       
      }
      img{ margin: 1em 0px; width: 232px; }
      
    }// End details article in sidebar
  
    section.main{
      float:left;
      width: 650px;
      
      div.head{
        margin-bottom:10px;
        width: 600px;
  
        h2 { float:left; margin-right:1em; }
        form{
          float:left;
          
          .ie7 &, .opera & { bottom:1px; }
          
          .ie &, .opera & { top: 1px; }
          
          button{
            background: transparent url(images/search.png) 0 0 no-repeat;
            border:0px;
            height:20px;
            margin:0px;
            position:relative;
            top:-1px;
            width:20px;
            
            .mozilla & {
              left: 1px;
              top: -4px;
            }
            
            .opera & { top:2px; }
            
          }
          
          input{
            border: 1px solid black;
            height:18px;
            margin: 1px 0 0 -3px;
            padding:0px;
            width:18em;
            
            .ie & { position:relative; bottom: 7px; }
            .ie7 & { position:relative; bottom: 1px; right: 3px; }
            
            .opera & { position:relative; bottom: 3px; }
          }
        }
        
        a.pdf {
          bottom:5px;
          color:#333;
          float:right;
          font-size:0.857142857em;
          height:22px;
          left:40px;
          position:relative;
          
          .ie7 & { left: 0px; }
          
          &:hover {
            color:$solus_green;
            text-decoration:none;
            
            span.icon { background-position-x: -22px; }
          }
          
          span.icon{
            background: transparent url(images/pdf.png) 0 0 no-repeat;
            display:inline-block;
            height:21px;
            position:relative;
            top:6px;
            width:21px;
          }
        }
      } // End line-card head div styles
      
      nav{
        $item_count:18;
        $item_size:16px;
        
        float:left;
        margin-bottom:1em;
        
        ul li{
          float:left;
          margin-top:0.25em;
          width:150px;
          
           @for $i from 1 through $item_count {
              &:nth-of-type(#{$i}) a span.icon{
                background-position: 0px ($item_size * -($i - 1));
              }
            } // End for loop
          
          a{
            color: #333;
  
            &:hover {
              color:$solus_green;
              text-decoration:none;
              span.icon{
                background-position-x: -$item_size;
              }
            }
            
            span.icon{
              background-image: url(images/icon_sprite.jpg);
              display:inline-block;
              height: $item_size;
              margin-right:0.5em;
              top:3px;
              width:$item_size;
            }
          }
        } // End nav list item styles
      } // End secondary nav styles for line-card
      
      > div{
        clear:both;
        float:left;
        position:relative;
        
        .ie7 & { width: 100%; }
        
        div.columns{
          float: left;
          
          .ie & {
            overflow: auto;
            width: 100%;
          }
        }
        
        ul.alpha-list {
          color:$dark_grey;
          clear:both;
          border-bottom: 1px solid $solus_green;
          float:left;
          height:1em;
          padding: 0.5em 0em;
          
          li{
            border-right:2px solid $dark_grey;
            float:left;
            height: 0.75em;
            line-height:0.5em;
            padding-left:8px;
            width:15px;
            
            &:first-of-type{ padding-left:0px; }
            &:last-of-type { border-right:0px; }
            
            a{
              color: inherit;
              display: inline-block;
              font-size:0.75em;
              width: 2em;
              
              .ie7 & { display:inline-block; height: 1em; padding-top: 2px; }
              
              &:hover{
                text-decoration:none;
                color: $solus_green;
              }
            }
          }
        } // End Line Card alpha list styles
        
        ul.products{
          border-bottom:1px solid $solus_green;
          clear:both;
          margin-top:1em;
          padding-bottom:1em;
          width:540px;
          
          .ie & { clear:none; width: 100%; }
          
          @include column-count(2);
          @include column-gap(6em);
          @include column-width(50%);
          
          li{
            list-style-position: inside;
            list-style-type: disc;
            margin-bottom:0.5em;
            
            a{
              color:#333132;
              text-decoration:none;
              
              &:hover{
                color:$solus_green;
              }
            }
          }
        } // End products ul styles
        
        ul.page{
          bottom:0px;
          position:absolute;
          right:0px;
          
          li{
            display:inline-block;
            float:left;
            padding:0 0.25em;
            
            &:first-of-type::after{ color:$solus_green; content:" |"; }
            &:first-of-type::before{ color:$solus_green; content:"<<"; }
            &:last-of-type::after{ color:$solus_green; content:" >>"; }
            &:last-of-type::before{ color:$solus_green; content:" "; }
            
          }
        } // End page ul styles
      }
    }// End main section styles
    
    div.shadow{ right: 296px; }
          
  } // End line card content div styles
} // End Line Card page specific sytles

//*** Start unique styles for Sample Library Page ***//
.sample-library{
  div.content div.copy{
    min-height:590px;
    width: 600px;
    
    h2 { margin-bottom: 1em; margin-top:0.5em; }
    
    p {
      border-bottom:1px solid $medium_grey;
      margin-bottom:1.5em;
      padding-bottom:1.5em;
    }
    
    ul.clients{
      @include column-count(3);
      margin-left:2em;
      margin-bottom:1.5em;
      
      li{        
        a{
          color:#666;
          
          &:hover{ color: $solus_green; text-decoration:none; }
        }
      }
    } // End Clints list specific styles    
  } // End Copy Div styles
  
  div.content div.shadow{ height:510px; right: 296px; }
  
  aside.sidebar{
    height: 450px;
    
    form{
      label{
        display: block;
        font-weight:bold;
        
        &:after{ content: ":"; }
      }
      
      input{
        display: block;
        height:2em;
        margin-bottom:1.5em;
        width:100%;
      }
      
      button{
        @include border-radius(3px);
        border: 0px;
        background-color:#d6d6d6;
        font-weight:bold;
        padding: 0.25em 1em;
        
        &:hover{
          background-color:$solus_green;
          cursor:pointer;
        }
      }
    } // End form styles in sidebar
  } // End sidebar styles for Sample Library page
    
} // End Sample Library page specific styles
