/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 17, ../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: Meta-Pro;
  src: url(fonts/MetaPro-Normal.ttf) format(truetype), url(fonts/MetaPro-Normal.otf) format(opentype);
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: Meta-Pro;
  src: url(fonts/MetaPro-NormalItalic.otf) format(opentype);
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: Meta-Pro;
  src: url(fonts/MetaPro-Bold.otf) format(opentype);
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: Meta-Pro;
  src: url(fonts/MetaPro-Medium.otf) format(opentype);
  font-style: normal;
  font-weight: bolder;
}

@font-face {
  font-family: Meta-Pro;
  src: url(fonts/MetaPro-Black.otf) format(opentype);
  font-style: normal;
  font-weight: 400;
}

/* line 4, ../sass/_global.scss */
* {
  position: relative;
}

/* line 8, ../sass/_global.scss */
h2 {
  font-size: 1.71428571em;
  font-weight: 400;
}

/* line 10, ../sass/_global.scss */
em {
  font-style: italic;
}

/* line 11, ../sass/_global.scss */
strong {
  font-weight: bold;
}

/* line 13, ../sass/_global.scss */
body {
  background: transparent url(images/background.jpg) 0 0 repeat-x;
  font-family: "Meta-Pro", arial, sans-serif;
  font-size: 14px;
  font-weight: 100;
  height: 100%;
  line-height: 1.8em;
  width: 100%;
}
/* line 22, ../sass/_global.scss */
body a {
  color: #709d26;
  font-weight: bold;
  text-decoration: none;
}
/* line 27, ../sass/_global.scss */
body a:hover {
  text-decoration: underline;
}
/* line 32, ../sass/_global.scss */
body p {
  font-weight: 100;
}
/* line 35, ../sass/_global.scss */
body p a {
  font-weight: 100;
}
/* line 38, ../sass/_global.scss */
body .upper {
  text-transform: uppercase;
}
/* line 40, ../sass/_global.scss */
body aside.sidebar {
  border-left: 1px solid #e6e6e6;
  float: right;
  height: 500px;
  margin-right: 30px;
  min-height: 585px;
  padding-left: 26px;
  width: 240px;
}
/* line 50, ../sass/_global.scss */
body div.content {
  margin: 0 auto;
  width: 960px;
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -o-border-bottom-left-radius: 3px;
  -ms-border-bottom-left-radius: 3px;
  -khtml-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -o-border-bottom-right-radius: 3px;
  -ms-border-bottom-right-radius: 3px;
  -khtml-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
  -moz-box-shadow: #aaaaaa 0 2px 5px;
  -webkit-box-shadow: #aaaaaa 0 2px 5px;
  -o-box-shadow: #aaaaaa 0 2px 5px;
  box-shadow: #aaaaaa 0 2px 5px;
  background: #f4f4f4;
  border-top: 3px solid #FFF;
  clear: both;
  margin-bottom: 1em;
  min-height: 630px;
  overflow: auto;
  padding: 30px 0 30px 30px;
}
/* line 64, ../sass/_global.scss */
body div.shadow {
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzg3ODc4NyIgc3RvcC1vcGFjaXR5PSIwLjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(135, 135, 135, 0.1) 50%, rgba(0, 0, 0, 0) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(50%, rgba(135, 135, 135, 0.1)), color-stop(100%, rgba(0, 0, 0, 0)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(135, 135, 135, 0.1) 50%, rgba(0, 0, 0, 0) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(135, 135, 135, 0.1) 50%, rgba(0, 0, 0, 0) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(135, 135, 135, 0.1) 50%, rgba(0, 0, 0, 0) 100%);
  /* IE10+ */
  background: linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(135, 135, 135, 0.1) 50%, rgba(0, 0, 0, 0) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#00000000',GradientType=0 );
  /* IE6-8 */
  position: absolute;
  height: 550px;
  width: 3px;
  right: 331px;
}

/* line 17, ../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: Meta-Pro;
  src: url(fonts/MetaPro-Normal.ttf) format(truetype), url(fonts/MetaPro-Normal.otf) format(opentype);
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: Meta-Pro;
  src: url(fonts/MetaPro-NormalItalic.otf) format(opentype);
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: Meta-Pro;
  src: url(fonts/MetaPro-Bold.otf) format(opentype);
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: Meta-Pro;
  src: url(fonts/MetaPro-Medium.otf) format(opentype);
  font-style: normal;
  font-weight: bolder;
}

@font-face {
  font-family: Meta-Pro;
  src: url(fonts/MetaPro-Black.otf) format(opentype);
  font-style: normal;
  font-weight: 400;
}

/* line 4, ../sass/_global.scss */
* {
  position: relative;
}

/* line 8, ../sass/_global.scss */
h2 {
  font-size: 1.71428571em;
  font-weight: 400;
}

/* line 10, ../sass/_global.scss */
em {
  font-style: italic;
}

/* line 11, ../sass/_global.scss */
strong {
  font-weight: bold;
}

/* line 13, ../sass/_global.scss */
body {
  background: transparent url(images/background.jpg) 0 0 repeat-x;
  font-family: "Meta-Pro", arial, sans-serif;
  font-size: 14px;
  font-weight: 100;
  height: 100%;
  line-height: 1.8em;
  width: 100%;
}
/* line 22, ../sass/_global.scss */
body a {
  color: #709d26;
  font-weight: bold;
  text-decoration: none;
}
/* line 27, ../sass/_global.scss */
body a:hover {
  text-decoration: underline;
}
/* line 32, ../sass/_global.scss */
body p {
  font-weight: 100;
}
/* line 35, ../sass/_global.scss */
body p a {
  font-weight: 100;
}
/* line 38, ../sass/_global.scss */
body .upper {
  text-transform: uppercase;
}
/* line 40, ../sass/_global.scss */
body aside.sidebar {
  border-left: 1px solid #e6e6e6;
  float: right;
  height: 500px;
  margin-right: 30px;
  min-height: 585px;
  padding-left: 26px;
  width: 240px;
}
/* line 50, ../sass/_global.scss */
body div.content {
  margin: 0 auto;
  width: 960px;
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -o-border-bottom-left-radius: 3px;
  -ms-border-bottom-left-radius: 3px;
  -khtml-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -o-border-bottom-right-radius: 3px;
  -ms-border-bottom-right-radius: 3px;
  -khtml-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
  -moz-box-shadow: #aaaaaa 0 2px 5px;
  -webkit-box-shadow: #aaaaaa 0 2px 5px;
  -o-box-shadow: #aaaaaa 0 2px 5px;
  box-shadow: #aaaaaa 0 2px 5px;
  background: #f4f4f4;
  border-top: 3px solid #FFF;
  clear: both;
  margin-bottom: 1em;
  min-height: 630px;
  overflow: auto;
  padding: 30px 0 30px 30px;
}
/* line 64, ../sass/_global.scss */
body div.shadow {
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzg3ODc4NyIgc3RvcC1vcGFjaXR5PSIwLjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(135, 135, 135, 0.1) 50%, rgba(0, 0, 0, 0) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(50%, rgba(135, 135, 135, 0.1)), color-stop(100%, rgba(0, 0, 0, 0)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(135, 135, 135, 0.1) 50%, rgba(0, 0, 0, 0) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(135, 135, 135, 0.1) 50%, rgba(0, 0, 0, 0) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(135, 135, 135, 0.1) 50%, rgba(0, 0, 0, 0) 100%);
  /* IE10+ */
  background: linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(135, 135, 135, 0.1) 50%, rgba(0, 0, 0, 0) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#00000000',GradientType=0 );
  /* IE6-8 */
  position: absolute;
  height: 550px;
  width: 3px;
  right: 331px;
}

/* line 3, ../sass/_header.scss */
header {
  margin: 0 auto;
  width: 960px;
  -moz-box-shadow: #aaaaaa 0 2px 15px;
  -webkit-box-shadow: #aaaaaa 0 2px 15px;
  -o-box-shadow: #aaaaaa 0 2px 15px;
  box-shadow: #aaaaaa 0 2px 15px;
  border-bottom: 2px solid #f4f4f4;
  height: 120px;
  padding: 0 15px;
}
/* line 11, ../sass/_header.scss */
header h1 {
  background: transparent url(images/solus_logo.jpg) 0 0 no-repeat;
  color: rgba(0, 0, 0, 0);
  height: 67px;
  float: left;
  left: 15px;
  line-height: 0px;
  top: 30px;
  width: 200px;
}
/* line 22, ../sass/_header.scss */
header nav {
  bottom: -75px;
  height: inherit;
  position: absolute;
  right: 40px;
}
/* line 28, ../sass/_header.scss */
header nav ul {
  height: inherit;
  position: relative;
}
/* line 31, ../sass/_header.scss */
header nav ul li {
  float: left;
  padding-left: 50px;
  text-transform: uppercase;
}
/* line 36, ../sass/_header.scss */
header nav ul li:hover ul.sub {
  display: block;
}
/* line 37, ../sass/_header.scss */
header nav ul li.current > a {
  color: #709d26;
}
/* line 39, ../sass/_header.scss */
header nav ul li ul.sub {
  -moz-box-shadow: grey 2px 2px 5px;
  -webkit-box-shadow: grey 2px 2px 5px;
  -o-box-shadow: grey 2px 2px 5px;
  box-shadow: grey 2px 2px 5px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  background: white;
  padding: 0 1em 1em;
  position: absolute;
  display: none;
  width: 100px;
  z-index: 100;
}
/* line 49, ../sass/_header.scss */
header nav ul li ul.sub li {
  border-bottom: 1px solid #709d26;
  float: none;
  padding: 0.5em 0;
}
/* line 54, ../sass/_header.scss */
header nav ul li ul.sub li:last-of-type {
  border-bottom: 0px;
  padding-bottom: 0;
}
/* line 58, ../sass/_header.scss */
header nav ul li a {
  color: #333;
  font-family: MetaPro, arial, sans-serif;
  font-size: 0.785714286em;
  font-weight: bold;
  text-decoration: none;
}
/* line 65, ../sass/_header.scss */
header nav ul li a:hover, header nav ul li a:active {
  color: #709d26;
  text-decoration: none;
}

/* line 3, ../sass/_footer.scss */
footer {
  margin: 0 auto;
  width: 960px;
  clear: both;
  left: 315px;
  margin-bottom: 2em;
  width: 360px;
}
/* line 11, ../sass/_footer.scss */
footer p {
  float: left;
}
/* line 12, ../sass/_footer.scss */
footer a {
  top: 3px;
  margin-left: 0.5em;
}

/* line 9, ../sass/screen.scss */
div.content img.hero {
  margin: 0 auto;
}
/* line 11, ../sass/screen.scss */
div.content div.copy, div.content article.copy {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  background: white;
  border: 1px solid #e6e6e6;
  float: left;
  min-height: 125px;
  padding: 15px;
  max-width: 918px;
}
/* line 23, ../sass/screen.scss */
div.content div.copy section.feature, div.content article.copy section.feature {
  border-right: 1px solid #bababa;
  float: left;
  margin-right: 15px;
  padding-right: 15px;
  width: 660px;
}
/* line 30, ../sass/screen.scss */
div.content div.copy section.feature h2:after, div.content article.copy section.feature h2:after {
  content: ':';
}
/* line 32, ../sass/screen.scss */
div.content div.copy section.feature img, div.content article.copy section.feature img {
  float: left;
  margin-right: 15px;
}

/* line 43, ../sass/screen.scss */
.home div.content div.copy {
  margin-top: 15px;
  width: 888px;
}

/* line 51, ../sass/screen.scss */
.about div.content {
  overflow: auto;
}
/* line 54, ../sass/screen.scss */
.about div.content > h2 {
  font-weight: 100;
}
/* line 55, ../sass/screen.scss */
.about div.content > p {
  margin-right: 7em;
  margin-bottom: 1.5em;
}
/* line 57, ../sass/screen.scss */
.about div.content aside.sidebar {
  margin-left: 20px;
  width: 275px;
}
/* line 62, ../sass/screen.scss */
.about div.content article.copy {
  margin-right: 35px;
  margin-bottom: 24px;
}
/* line 65, ../sass/screen.scss */
.about div.content article.copy img {
  float: left;
  margin-right: 1em;
}
/* line 67, ../sass/screen.scss */
.about div.content article.copy h2, .about div.content article.copy h3 {
  line-height: 1.5em;
}
/* line 68, ../sass/screen.scss */
.about div.content article.copy h3 {
  font-weight: bold;
}
/* line 70, ../sass/screen.scss */
.about div.content article.copy p.bio {
  color: #666;
  margin: 2em 0;
}
/* line 73, ../sass/screen.scss */
.about div.content div.copy {
  padding: 20px;
  height: 530px;
  min-height: 585px;
  width: 560px;
}
/* line 79, ../sass/screen.scss */
.about div.content div.copy h2 {
  line-height: 2.5em;
}
/* line 83, ../sass/screen.scss */
.about div.gallery {
  float: left;
  width: inherit;
}
/* line 87, ../sass/screen.scss */
.about div.gallery ul li {
  float: left;
  margin-right: 2em;
}
/* line 91, ../sass/screen.scss */
.about div.gallery ul li a {
  color: #000;
}
/* line 92, ../sass/screen.scss */
.about div.gallery ul li a:hover figcaption {
  color: #709d26;
}
/* line 96, ../sass/screen.scss */
.about div.gallery footer.credits {
  margin-right: 38px;
  position: absolute;
  right: 0px;
  text-align: right;
  top: 0;
  width: 25%;
}

/* line 111, ../sass/screen.scss */
.line-card div.content {
  padding-bottom: 2em;
}
/* line 115, ../sass/screen.scss */
.line-card div.content article.details h3 {
  color: rgba(0, 0, 0, 0);
  line-height: 0px;
}
/* line 119, ../sass/screen.scss */
.line-card div.content article.details h3 img.logo {
  border: 1px solid #709d26;
  height: 65px;
  margin: 0px auto 2em;
  width: 230px;
}
/* line 127, ../sass/screen.scss */
.line-card div.content article.details img {
  margin: 1em 0px;
  width: 232px;
}
/* line 131, ../sass/screen.scss */
.line-card div.content section.main {
  float: left;
  width: 650px;
}
/* line 135, ../sass/screen.scss */
.line-card div.content section.main div.head {
  margin-bottom: 2em;
  width: 600px;
}
/* line 139, ../sass/screen.scss */
.line-card div.content section.main div.head h2 {
  float: left;
  margin-right: 1em;
}
/* line 140, ../sass/screen.scss */
.line-card div.content section.main div.head form {
  float: left;
}
/* line 142, ../sass/screen.scss */
.line-card div.content section.main div.head form button {
  background: transparent url(images/search.png) 0 0 no-repeat;
  border: 0px;
  height: 20px;
  margin: 0px;
  top: -1px;
  width: 20px;
}
/* line 151, ../sass/screen.scss */
.line-card div.content section.main div.head form input {
  border: 1px solid black;
  height: 18px;
  margin: 1px 0 0 -3px;
  padding: 0px;
  width: 18em;
}
/* line 160, ../sass/screen.scss */
.line-card div.content section.main div.head a.pdf {
  color: #333;
  float: right;
  font-size: 0.857142857em;
  height: 22px;
  left: 40px;
  bottom: 5px;
}
/* line 168, ../sass/screen.scss */
.line-card div.content section.main div.head a.pdf:hover {
  color: #709d26;
  text-decoration: none;
}
/* line 172, ../sass/screen.scss */
.line-card div.content section.main div.head a.pdf:hover span.icon {
  background-position-x: -22px;
}
/* line 175, ../sass/screen.scss */
.line-card div.content section.main div.head a.pdf span.icon {
  background: transparent url(images/pdf.png) 0 0 no-repeat;
  display: inline-block;
  height: 21px;
  top: 6px;
  width: 21px;
}
/* line 185, ../sass/screen.scss */
.line-card div.content section.main nav {
  float: left;
  margin-bottom: 1em;
}
/* line 192, ../sass/screen.scss */
.line-card div.content section.main nav ul li {
  float: left;
  margin-top: 0.25em;
  width: 150px;
}
/* line 198, ../sass/screen.scss */
.line-card div.content section.main nav ul li:nth-of-type(1) a span.icon {
  background-position: 0px 0px;
}
/* line 198, ../sass/screen.scss */
.line-card div.content section.main nav ul li:nth-of-type(2) a span.icon {
  background-position: 0px -16px;
}
/* line 198, ../sass/screen.scss */
.line-card div.content section.main nav ul li:nth-of-type(3) a span.icon {
  background-position: 0px -32px;
}
/* line 198, ../sass/screen.scss */
.line-card div.content section.main nav ul li:nth-of-type(4) a span.icon {
  background-position: 0px -48px;
}
/* line 198, ../sass/screen.scss */
.line-card div.content section.main nav ul li:nth-of-type(5) a span.icon {
  background-position: 0px -64px;
}
/* line 198, ../sass/screen.scss */
.line-card div.content section.main nav ul li:nth-of-type(6) a span.icon {
  background-position: 0px -80px;
}
/* line 198, ../sass/screen.scss */
.line-card div.content section.main nav ul li:nth-of-type(7) a span.icon {
  background-position: 0px -96px;
}
/* line 198, ../sass/screen.scss */
.line-card div.content section.main nav ul li:nth-of-type(8) a span.icon {
  background-position: 0px -112px;
}
/* line 198, ../sass/screen.scss */
.line-card div.content section.main nav ul li:nth-of-type(9) a span.icon {
  background-position: 0px -128px;
}
/* line 198, ../sass/screen.scss */
.line-card div.content section.main nav ul li:nth-of-type(10) a span.icon {
  background-position: 0px -144px;
}
/* line 198, ../sass/screen.scss */
.line-card div.content section.main nav ul li:nth-of-type(11) a span.icon {
  background-position: 0px -160px;
}
/* line 198, ../sass/screen.scss */
.line-card div.content section.main nav ul li:nth-of-type(12) a span.icon {
  background-position: 0px -176px;
}
/* line 198, ../sass/screen.scss */
.line-card div.content section.main nav ul li:nth-of-type(13) a span.icon {
  background-position: 0px -192px;
}
/* line 198, ../sass/screen.scss */
.line-card div.content section.main nav ul li:nth-of-type(14) a span.icon {
  background-position: 0px -208px;
}
/* line 198, ../sass/screen.scss */
.line-card div.content section.main nav ul li:nth-of-type(15) a span.icon {
  background-position: 0px -224px;
}
/* line 198, ../sass/screen.scss */
.line-card div.content section.main nav ul li:nth-of-type(16) a span.icon {
  background-position: 0px -240px;
}
/* line 198, ../sass/screen.scss */
.line-card div.content section.main nav ul li:nth-of-type(17) a span.icon {
  background-position: 0px -256px;
}
/* line 198, ../sass/screen.scss */
.line-card div.content section.main nav ul li:nth-of-type(18) a span.icon {
  background-position: 0px -272px;
}
/* line 203, ../sass/screen.scss */
.line-card div.content section.main nav ul li a {
  color: #333;
}
/* line 206, ../sass/screen.scss */
.line-card div.content section.main nav ul li a:hover {
  color: #709d26;
  text-decoration: none;
}
/* line 209, ../sass/screen.scss */
.line-card div.content section.main nav ul li a:hover span.icon {
  background-position-x: -16px;
}
/* line 214, ../sass/screen.scss */
.line-card div.content section.main nav ul li a span.icon {
  background-image: url(images/icon_sprite.jpg);
  display: inline-block;
  height: 16px;
  margin-right: 0.5em;
  top: 3px;
  width: 16px;
}
/* line 226, ../sass/screen.scss */
.line-card div.content section.main div {
  clear: both;
}
/* line 229, ../sass/screen.scss */
.line-card div.content section.main div ul.alpha-list {
  color: #9e9fa0;
  clear: both;
  border-bottom: 1px solid #709d26;
  float: left;
  height: 1em;
  padding: 0.5em 0em;
  margin-bottom: 1em;
}
/* line 238, ../sass/screen.scss */
.line-card div.content section.main div ul.alpha-list li {
  border-right: 2px solid #9e9fa0;
  float: left;
  height: 0.75em;
  line-height: 0.5em;
  padding-left: 8px;
  width: 15px;
}
/* line 246, ../sass/screen.scss */
.line-card div.content section.main div ul.alpha-list li:first-of-type {
  padding-left: 0px;
}
/* line 247, ../sass/screen.scss */
.line-card div.content section.main div ul.alpha-list li:last-of-type {
  border-right: 0px;
}
/* line 249, ../sass/screen.scss */
.line-card div.content section.main div ul.alpha-list li a {
  color: inherit;
  display: inline-block;
  font-size: 0.75em;
  width: 2em;
}
/* line 255, ../sass/screen.scss */
.line-card div.content section.main div ul.alpha-list li a:hover {
  text-decoration: none;
  color: #709d26;
}
/* line 263, ../sass/screen.scss */
.line-card div.content section.main div ul.products {
  border-bottom: 1px solid #709d26;
  clear: both;
  margin-top: 1em;
  padding-bottom: 1em;
  width: 540px;
  -moz-column-count: 2;
  -webkit-column-count: 2;
  -o-column-count: 2;
  column-count: 2;
  -moz-column-gap: 6em;
  -webkit-column-gap: 6em;
  -o-column-gap: 6em;
  column-gap: 6em;
  -moz-column-width: 50%;
  -webkit-column-width: 50%;
  -o-column-width: 50%;
  column-width: 50%;
}
/* line 274, ../sass/screen.scss */
.line-card div.content section.main div ul.products li {
  list-style-position: inside;
  list-style-type: disc;
  margin-bottom: 0.5em;
}
/* line 279, ../sass/screen.scss */
.line-card div.content section.main div ul.products li a {
  color: #333132;
  text-decoration: none;
}
/* line 283, ../sass/screen.scss */
.line-card div.content section.main div ul.products li a:hover {
  color: #709d26;
}
/* line 290, ../sass/screen.scss */
.line-card div.content section.main div ul.page {
  bottom: 0px;
  position: absolute;
  right: 0px;
}
/* line 295, ../sass/screen.scss */
.line-card div.content section.main div ul.page li {
  display: inline-block;
  float: left;
  padding: 0 0.25em;
}
/* line 300, ../sass/screen.scss */
.line-card div.content section.main div ul.page li:first-of-type:after {
  color: #709d26;
  content: " |";
}
/* line 301, ../sass/screen.scss */
.line-card div.content section.main div ul.page li:first-of-type:before {
  color: #709d26;
  content: "<<";
}
/* line 302, ../sass/screen.scss */
.line-card div.content section.main div ul.page li:last-of-type:after {
  color: #709d26;
  content: " >>";
}
/* line 303, ../sass/screen.scss */
.line-card div.content section.main div ul.page li:last-of-type:before {
  color: #709d26;
  content: " ";
}
/* line 310, ../sass/screen.scss */
.line-card div.content div.shadow {
  right: 296px;
}

/* line 317, ../sass/screen.scss */
.samplelibrary div.content div.copy {
  min-height: 590px;
  width: 600px;
}
/* line 321, ../sass/screen.scss */
.samplelibrary div.content div.copy h2 {
  margin-bottom: 1em;
  margin-top: 0.5em;
}
/* line 323, ../sass/screen.scss */
.samplelibrary div.content div.copy p {
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 1.5em;
  padding-bottom: 1.5em;
}
/* line 329, ../sass/screen.scss */
.samplelibrary div.content div.copy ul.clients {
  -moz-column-count: 3;
  -webkit-column-count: 3;
  -o-column-count: 3;
  column-count: 3;
  margin-left: 2em;
  margin-bottom: 1.5em;
}
/* line 335, ../sass/screen.scss */
.samplelibrary div.content div.copy ul.clients li a {
  color: #666;
}
/* line 338, ../sass/screen.scss */
.samplelibrary div.content div.copy ul.clients li a:hover {
  color: #709d26;
  text-decoration: none;
}
/* line 344, ../sass/screen.scss */
.samplelibrary div.content div.shadow {
  height: 510px;
  right: 296px;
}
/* line 346, ../sass/screen.scss */
.samplelibrary aside.sidebar {
  height: 450px;
}
/* line 350, ../sass/screen.scss */
.samplelibrary aside.sidebar form label {
  display: block;
  font-weight: bold;
}
/* line 354, ../sass/screen.scss */
.samplelibrary aside.sidebar form label:after {
  content: ":";
}
/* line 357, ../sass/screen.scss */
.samplelibrary aside.sidebar form input {
  display: block;
  height: 2em;
  margin-bottom: 1.5em;
  width: 100%;
}
/* line 364, ../sass/screen.scss */
.samplelibrary aside.sidebar form button {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  border: 0px;
  background-color: #d6d6d6;
  font-weight: bold;
  padding: 0.25em 1em;
}
/* line 371, ../sass/screen.scss */
.samplelibrary aside.sidebar form button:hover {
  background-color: #709d26;
  cursor: pointer;
}
